@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.show-picks-page {
	width: 100%;
	display: flex;
	flex-direction: column;
	.info-text {
		height: 30%;
		h1 {
			font-size: 3rem;
			font-family: 'Oswald', sans-serif;
			margin-bottom: 1rem;
		}
		p {
			font-size: 1.4rem;
			font-family: 'Roboto', sans-serif;
			margin-bottom: 1rem;
		}
	}
	.labels {
		display: flex;
		padding: 0 1rem;
		font-size: 1.2rem;
		font-family: 'Roboto', sans-serif;

		.l-entry {
			width: 20%;
		}
		.l-picks {
			width: 60%;
			text-align: center;
		}
		.l-delete {
			width: 20%;
			margin-left: auto;
			width: 100px;
			text-align: center;
		}
	}
	.show-picks-container {
		display: flex;
		align-items: center;
		position: relative;
		background-color: #f7f8fa;
		border-radius: 10px;
		padding: 1rem 1rem;
		margin-top: 1rem;
		font-family: 'Roboto', sans-serif;
		.entry-status {
			width: 20%;
		}
		.show-picks {
			display: flex;
			width: 100%;
			justify-content: center;
			.show-pick {
				display: flex;
				align-items: center;
				justify-content: center;
				.show-logo {
					width: 35px;
					max-height: 35px;
					margin: 0 0.3rem;
				}
			}
		}
		.delete-picks {
			width: 20%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			.delete-btn {
				background-color: var(--danger-color);
				padding: 10px 30px;
				border: none;
				width: 100px;
				border-radius: 4px;
				color: white;
				font-size: 1rem;
				font-weight: lighter;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				box-shadow: var(--box-shadow);
				&:hover {
					box-shadow: none;
					transition: all 100ms ease-in-out;
				}
			}
		}
	}
}

// LAPTOP SIZE
@include laptop {
	.show-picks {
		padding: 0rem 8rem;
	}
}

// PHONE SIZE
@include phone {
	.show-picks {
		padding: 0rem 2rem;
		.labels {
			display: none;
		}
		.picks-container {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			padding: 1rem 1rem;

			.entry-status {
				width: 100%;
			}
			.picks {
				width: 100%;
				margin: 1rem 0;
				overflow-x: scroll;
				justify-content: flex-start;
				img {
					max-width: 40px;
				}
			}
			.delete-picks {
				width: 100%;
				display: flex;
				justify-content: flex-start;
				button {
					margin-right: auto;
				}
			}
		}
	}
}
