@import '../styles/mixins.scss';

.page {
	padding: var(--padding);
	padding-top: 2rem;
	background-color: var(--primary-color);
	position: relative;
	height: 100vh;
	padding-bottom: 2rem;
	font-family: var(--secondaryFont);
	@include phone() {
		overflow-x: scroll;
	}
	.detail-content {
		width: 100%;
		height: auto;
		position: relative;
		top: calc(30vh + 50px);
		padding-top: 1rem;
	}
	.control-bar {
		background-color: rgb(255, 255, 255);
		box-shadow: var(--box-shadow);
		height: 50px;
		z-index: 999;
		position: absolute;
		top: 30vh;
		width: 100vw;
		left: 0;
		padding: var(--padding);
		display: flex;
		align-items: center;
		gap: 1rem;
		p {
			height: 100%;
			display: flex;
			align-items: center;
			position: relative;
			cursor: pointer;
		}
		.active {
			&:after {
				content: '';
				height: 5px;
				background-color: rgb(2, 2, 2);
				width: 100%;
				position: absolute;
				bottom: 0;
			}
		}
	}
	.page-header {
		display: flex;
		font-size: 0.7rem;
		gap: 1rem;
	}
	.header {
		position: absolute;
		left: 0;
		top: 0;
		width: 100vw;
		height: 30vh;
		padding: var(--padding);
		display: flex;
		align-items: center;
		overflow-y: hidden;
		.background-logo {
			opacity: 0.1;
			position: absolute;
			top: -130px;
			left: 17%;
			min-width: 600px;
		}
		.team-info {
			display: flex;
			flex-direction: column;
			.info {
				display: flex;
				gap: 0.5rem;
			}
		}
		.team-stats {
			width: 50%;
			height: 50%;
			margin-left: auto;
			display: flex;
			.stat-box {
				height: 100%;
				width: 25%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				border-right: 1px solid lightgray;
				gap: 0.25rem;
				font-weight: bold;
				.value {
					font-size: 2rem;
				}
			}
		}
		img {
			max-width: 200px;
		}
	}

	.body {
		display: flex;
		height: auto;
		position: relative;
		gap: 2rem;
		.schedule-container {
			width: 100%;
		}
		.news-container {
			width: 40%;
		}
	}
	.schedule-label {
		position: relative;
		font-size: 1.2rem;
	}
	.team-schedule {
		width: 100%;
		height: 200px;
		display: flex;
		position: relative;
		margin-top: 1rem;
		.scroll-games {
			overflow-x: scroll;
			display: flex;
			width: 100%;
			height: 60%;
			position: relative;
			&::-webkit-scrollbar {
				display: none;
			}
		}
		.scroller {
			position: relative;
			right: 0;
			width: 45px;
			padding: 0 0.25rem;
			display: flex;
			align-items: center;
			justify-content: center;
			top: 0;
			bottom: 0;
			height: 60%;
			transition: all 200ms ease-in-out;
			background-color: rgb(255, 255, 255);
			.scroll-btn {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				&:hover {
					background-color: dodgerblue;
					color: white;
					cursor: pointer;
				}
			}
		}
		.game-box {
			height: 100%;
			display: flex;
			font-size: 1rem;
			border-right: 1px solid lightgray;
			background-color: var(--white);
			min-width: 195px;
			flex-direction: column;
			padding: 0.5rem;
			gap: 0.5rem;

			.top {
				width: 100%;
				height: 20px;
				display: flex;
				justify-content: space-between;
				font-size: 0.9rem;
			}
			.home,
			.away {
				display: flex;
				justify-content: space-between;
				.name {
					display: flex;
					align-items: center;

					img {
						max-width: 30px;
					}
				}
				.score {
					display: flex;
					align-items: center;
					.winner {
						color: rgb(160, 5, 5);
						display: flex;
						align-items: center;
					}
					.loser {
						display: none;
					}
				}
			}
		}
	}
	.news-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}
}

// LAPTOP SIZE
@include laptop {
	.navbar {
		padding: 1rem 8rem 1rem 8rem;
	}
}

// MACBOOK SIZE
@include macbook {
	.navbar {
		padding: 1rem 8rem 1rem 8rem;
	}
}

// PHONE SIZE
@include phone {
	.page {
		.header {
			display: flex;
			padding: 0;
			.team-info {
				.name {
					font-size: 0.8rem;
				}
				.info {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					display: flex;
					justify-content: center;
					padding-bottom: 0.3rem;
				}
			}
			.team-stats {
				display: none;
			}
		}
	}
}
