@import '../../styles/mixins.scss';

.homepage {
	background-color: #ededed;
	height: auto;
	.hero {
		height: 40vh;
		padding: var(--nav-padding);
		display: flex;
		font-family: var(--primaryFont);
		flex-direction: column;
		justify-content: center;
		background-color: var(--secondary-color);
		color: white;

		h1 {
			font-size: 4rem;
			@include phone() {
				font-size: 3rem;
				text-align: center;
			}
		}
		p {
			font-size: 2rem;
			@include phone() {
				font-size: 1.5rem;
				text-align: center;
			}
		}
		h2 {
			font-weight: lighter;
			font-size: 1rem;
		}
		.btns {
			display: flex;
			gap: 1rem;
			margin-top: 2rem;
			align-items: center;
			font-family: var(--secondaryFont);
			@include phone() {
				flex-direction: column;
				gap: 0.5rem;
			}
			.register-btn {
				background-color: var(--accent);
				color: white;
				padding: 10px 20px;
				border-radius: 7px;
				font-weight: lighter;
				transition: all 200ms ease-in-out;
				font-size: 1rem;
				cursor: pointer;
				&:hover {
					background-color: #1a9b49;
				}
			}
		}
	}
	.news-container {
		padding: var(--nav-padding);
	}
}
